{{ template "base" .}}

{{ define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/major_suite.jpg" class="img-fluid mx-auto d-block img-thumbnail room-image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center mt-4">Welcome to my major suite</h2>
            <p>welcome to my reasort for enjoying a vacation. plaese come here for enjoy
                welcome to my reasort for enjoying a vacation. plaese come
                welcome to my reasort for enjoying a vacation. plaese come
                welcome to my reasort for enjoying a vacation. plaese come
                welcome to my reasort for enjoying a vacation. plaese come
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/search-availability" class="btn btn-success">Check availability</a>
        </div>
    </div>

</div>
{{end}}